version: 2
jobs:
  check-repo:
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: check if repo belongs to us or not
          command: |
            if [ "$CIRCLE_REPOSITORY_URL" == "your repository url" ]; then
              exit 0
            else
              echo "This is a forked repo, no tests will run for this one."
              exit 1
            fi
  build:
    docker:
      - image: circleci/python:2.7.13
    working_directory: ~/checkpointII
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            virtualenv venv
            source venv/bin/activate
            pip install -r requirements.txt      

workflows:
  version: 2
  build_and_test:
    jobs:
      - check-repo
      - build:
          requires:
            - check-repo